version: '3'
services:
  app:
    build: .
    environment:
     - CELERY_BROKER_URL=redis://redis:6379/0
     - CELERY_RESULT_BACKEND=redis://redis:6379/0
    ports:
      - "5000:5000"
    networks:
      - appnet
  celery:
    build: .
    environment:
     - CELERY_BROKER_URL=redis://redis:6379/0
     - CELERY_RESULT_BACKEND=redis://redis:6379/0
    command: celery worker -A app.celery --loglevel=info
    networks:
      - appnet
  redis:
    image: redis
    ports:
      - "6379:6379"
    networks:
      - appnet

volumes:
  data:
    driver: "local"
networks:
  appnet:
    driver: "bridge"
